@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(247 254 231);
    padding-top: 50px;
    padding-bottom: 50px;
}

body,html {
   @apply min-h-screen;
}

.container {
    max-width: 1490px;
    padding: 0 20px;
    margin:  0 auto;
}